*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button{
    cursor: pointer;
}


/* DISEÑO DEL HEADER */

.header{
    display: flex;
    width: 100%;
    height: 5rem;
    font-size: 1.4rem;
}

.nav{
    display: flex;
    width: 95%;
    height: auto;
    margin: auto;
    justify-content: flex-end;
   
}

.ul{
    display: flex;
    align-items:center;
    list-style: none;
 }

.ul li a{
    margin-right: 1.5rem;
    color: black;
}

.ul .apps {
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
}

.ul img {
    border-radius: 50%;
    margin-left: 1rem;
}

/* DISEÑO DEL MAIN */

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sectionlogo{
    display: flex;
    width: 95%;
    height: 13rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.figurelogo img{
    width: 27rem;
    height: 9rem;
}

.form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 11rem;
    margin: auto;
    flex-direction: column;
}

.search{
    width: 57rem;
    height: 4.5rem;
    border-radius: 10rem;
    border: 0.001rem solid #dfe1e5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search:hover{
    box-shadow: 0 0.1rem 0.6rem 0;
    border-color: #dfe1c500;
}

.lupa{
    background-image: url("https://icon-library.com/images/google-search-icon/google-search-icon-13.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5rem;
    width: 4rem;
    height: 4.5rem;
    
}

.input{
    width: 49rem;
    height: 3rem;
    border: none;
    outline: none;
}

.micro{
    background-image: url("https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.5rem;
    width: 4rem;
    height: 4.5rem;
    cursor: pointer;
}

.botones{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content:center;
    
}

.botones button{
    margin-left: 1.5rem;
    height: 4rem;
    background-color: #f2f2f2;
    border: 0;
    font-size: 1.4rem;
    color: #5f6368;
    border-radius: 0.5rem;
    padding: 0 1.5rem;
}

.botones button:hover{
    border: 0.1rem solid #c6c6c6;
    box-shadow: 0 0.1rem 0.1rem #000001;
    color: #222;
}


/* ESTILOS DE FOOTER */

.footer{
    width: 100%;
    height: 9rem;
    font-size: 1.4rem;
    background-color: #f2f2f2;
    border-top: 0.1rem solid #e4e4e4;
    position: absolute;
    bottom: 0;
}

.top {
    width: 95%;
    height: 4rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: right;
    color: #5f6368;
}

.bottom{
    width: 95%;
    height: 4rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.footer div ul {
    list-style: none;
    display: flex;
    
}

.pie1 {
    justify-self: left;
}

.pie2 {
    justify-self: right;
}

.footer ul li a{
    margin: 1rem; 
    color: #5f6368; 
}